@import "../../mixins.scss";
.carouselSection {
	position: relative;
	margin-top: 0;
	margin-bottom: 70px;
	@include md {
		margin-top: 3.1rem;
	}
	& > .contentWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	.carouselTitle {
		font-size: 24px;
		color: white;
		font-weight: normal;
	}
}
